<h3>About blockLAB</h3>
<hr>
<div>
    blockLAB Stuttgart is the network for blockchain technology in the Stuttgart region. The starting point of our
    cooperation is the mission statement of the "Blockchain Laboratory", a place for investigations and experiments
    around blockchain technology. <br>

    We believe that Blockchain technology will initiate a fundamental change in the Internet, which will have an
    impact
    on numerous industries and areas of life. We are convinced that the Stuttgart region with its industrial
    economic
    structure needs a blockchain network in order to be competitive in this key technology and to take advantage of
    the
    value creation opportunities that present themselves. <br>

    <p>&nbsp;</p>

    As the region's network for blockchain technology, we prepare information and make it available to interested
    parties. We inform and qualify topics on blockchain technology and network specialists and companies. In
    addition,
    we test manufacturer-independent and neutral existing offers, concepts and technologies and develop our own
    product
    and service ideas. <br>

    <p>&nbsp;</p>
    Our focus is on programming, business models and the Internet of Things (IoT).

</div>

<p>&nbsp;</p>

<h4>GitHub</h4>

<a href="https://github.com/blocklab/ethverein">Find the Github Code for this Application here</a>

<p>&nbsp;</p>

<h4>Etherscan</h4>
<a [href]="blockExplorerLink" target="_blank">Find the Ethereum
    Contract Code for this Application here</a>

<p>&nbsp;</p>

<h4>Contact</h4>
<hr>
<div>info(at)blocklab.de <br>

    blockLAB Stuttgart <br>

    c/o PURE CLUB <br>

    Friedrichstr. 13 <br>

    70174 Stuttgart <br></div>

<p>&nbsp;</p>

<h4>Legal Disclosure</h4>
<hr>

<div>Information according to § 5 TMG: <br>

    blockLAB Stuttgart e.V. <br>

    c/o PURE CLUB <br>

    Friedrichstr. 13 <br>

    70174 Stuttgart <br>

    Amtsgericht Stuttgart, Registergericht, VR 723996 <br>

    Represented by the Association Boards: <br>

    Jochen Kaßberger, Dennis Schlegel, Dr. Christian Beckel <br>

    Kontakt <br>

    E-Mail: info(at)blocklab.de <br>

    <p>&nbsp;</p>

    Responsible for the content according to § 55 Abs. 2 RStV: <br>

    Jochen Kaßberger <br>

    blockLAB Stuttgart <br>

    c/o PURE CLUB <br>

    Friedrichstr. 13 <br>

    70174 Stuttgart<br>
</div>
<p>&nbsp;</p>

<h4>Disclaimer</h4>
<hr>

<div>


    <h5>Liability for contents</h5>
    <br>

    As a service provider we are responsible according to § 7 Abs.1 TMG for our own contents on these pages according to
    the general laws. According to §§ 8 to 10 TMG, we are not obliged to monitor transmitted or stored third-party
    information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use
    of information in accordance with general laws remain unaffected by this. However, liability in this respect is only
    possible from the time of knowledge of a concrete violation of the law. As soon as we become aware of such
    infringements, we will remove the content immediately.

    <p>&nbsp;</p>
    <h5>Liability for links</h5>
    <br>

    Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore,
    we cannot assume any liability for these external contents. The respective provider or operator of the pages is
    always responsible for the contents of the linked pages. The linked pages were checked for possible legal
    infringements at the time of linking. Illegal contents were not recognisable at the time of linking. A permanent
    control of the contents of the linked pages is not reasonable without concrete evidence of an infringement. As soon
    as we become aware of any legal infringements, we will remove such links immediately.

    <p>&nbsp;</p>
    <h5>Copyright</h5>

    <br>
    The contents and works on these pages created by the site operators are subject to German copyright law.
    Duplication, processing, distribution and any form of commercialization of such material beyond the scope of the
    copyright law shall require the prior written consent of its respective author or creator. Downloads and copies of
    these pages are only permitted for private, non-commercial use. Insofar as the content on this site was not created
    by the operator, the copyrights of third parties are respected. In particular, contents of third parties are marked
    as such. Should you nevertheless become aware of a copyright infringement, please inform us accordingly. As soon as
    we become aware of any infringements, we will remove such content immediately.

</div>