button {
    border-radius: 7px;
    border: 2px solid #fbe3d3;
    height: 37px;
    padding: 0px 5px 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    outline: none;
  }

  .dialog-title{
    background-color: #ed7d31;
    border-radius: 2px;
    color: white;
  }

  .text-margin{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .subject{
    background-color: #fbe3d3;
    border-radius: 1px;

  }