<!-- <h2 mat-dialog-title dialog-title></h2> -->
<div class="col-12" style="padding-left: 0px; padding-right: 0px">
    <div class="dialog-title">
        <h3 class="text-margin">
            <b>
                {{ voteName }}
            </b>
        </h3>

    </div>
</div>

<mat-dialog-content>
    <div class="container subject">

        <div class="row">

            <div class="col-5" style="padding:20px">
                <div class="row">
                    <div class="col-5">
                        <b>Type</b>: <br>
                        <b>Status</b>: <br>
                        <b>Initiation Date</b>: <br>
                        <b>Outcome</b>:
                    </div>
                    <div class="col-7">
                        <span>
                            <span>
                                <mat-icon [inline]="true" *ngIf="voteType == 'Document Vote'">description</mat-icon>

                            </span>
                            <span>
                                <mat-icon [inline]="true" *ngIf="voteType == 'Voting Contract Vote'">swap_horiz
                                </mat-icon>

                            </span>
                            <span>
                                <mat-icon [inline]="true" *ngIf="voteType == 'Board Member Vote'">people</mat-icon>

                            </span>
                            {{voteType}}
                        </span>


                        <br>
                        {{voteStatus}}
                        <br>
                        {{voteInitiatonDate | date}}
                        <br>
                        <span>
                            <span>
                                <mat-icon [inline]="true" *ngIf="voteOutcome == 'Undecided'" class="icon-yellow">
                                    help_outline</mat-icon>

                            </span>
                            <span>
                                <mat-icon [inline]="true" *ngIf="voteOutcome == 'Accepted'" class="icon-green">
                                    check_circle_outline</mat-icon>

                            </span>
                            <span>
                                <mat-icon [inline]="true" *ngIf="voteOutcome == 'Declined'" class="icon-red">block
                                </mat-icon>

                            </span>
                            {{voteOutcome}}
                        </span>

                    </div>
                </div>
            </div>
            <div class="col-7" style="padding:20px">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <b>Originator Name</b>: {{voteOriginator}}
                        </div>
                        <br>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <b>Originator Address</b>: {{voteInitiator}} <br>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="container subject">
        <div class="row">
                <div class="col-2" style="padding:20px; padding-right:0px;padding-top:0px">
                    <br>
                    <b>Document Hash</b>:
                    <br>
                    <b>Contract Address</b>:
                </div>
                <div class="col-10" style="padding:20px; padding-top:0px;">
                    <br>
                    {{voteDocumentHash}}
                    <br>
                    {{voteNewVotingContractAddress}}
                    <br>
                </div>
                <br>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="container" style="padding-left: 0px;">
        <button class="mat-button" (click)="cancel()">Close</button>
    </div>
</mat-dialog-actions>