<h3>Initiate new Vote</h3>

<mat-tab-group class="tab-group">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>description</mat-icon>Document Vote
        </ng-template>
        <!-- Tab 1 -->
        <div class="tab-content">
            <p>You can upload any file to start a Document Vote. The other members will verify the file-hash when they vote.
            </p>
            <mat-horizontal-stepper [linear]="true" #stepper1>

                <mat-step [stepControl]="formGroup1" [editable]="true">
                    <form [formGroup]="formGroup1">
                        <ng-template matStepLabel>Upload Document</ng-template>

                        <div ngDefaultControl droppable ngDefaultModel name="firstCtrl" [acceptsMultipleFiles]="false" dragOverClass="dragOver" (filesDropped)="handleFiles($event)"
                            [ngClass]="droppedFile ? 'drop-card-success' : 'drop-card'">{{ docName }}</div>

                        <button matStepperNext>Next</button>

                    </form>
                </mat-step>

                <mat-step [stepControl]="formGroup4" [editable]="true">
                    <form [formGroup]="formGroup4">
                        <ng-template matStepLabel>Name the Vote</ng-template>
                        <mat-form-field class="input-full-width">
                            <input formControlName="voteName" matInput placeholder="Vote Name">
                        </mat-form-field>
                        <div>
                            <button matStepperPrevious>Back</button>
                            <button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Submit Vote</ng-template>
                    Name:
                    <b>{{ formGroup4.get('voteName').value }} </b>
                    <br>
                    <br> Generated Hash
                    <br>
                    <div class="hash" matTooltip="Click to copy address" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1000" ngxClipboard
                        [cbContent]="docHash" (cbOnSuccess)="isCopied = true" (click)="copyHash()">{{ docHash }}
                    </div>
                    <br>
                    <br>
                    <p>By pressing the Submit-Button, your Document-Vote will be sent to the Blockchain.</p>
                    <div>
                        <button matStepperPrevious>Back</button>
                        <button (click)="createDocumentVote()" (click)="stepper1.reset()">Submit</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

        </div>
    </mat-tab>

    <!-- Tab 2 -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>swap_horiz</mat-icon> 
            Contract Update
        </ng-template>
        <div class="tab-content">
            <p>Provide the Address of the new Voting Contract's address.
            </p>
            <mat-horizontal-stepper [linear]="true" #stepper2>

                <mat-step [stepControl]="formGroup2" [editable]="true">
                    <form [formGroup]="formGroup2">
                        <ng-template matStepLabel>Insert Contract Adrress</ng-template>
                        <mat-form-field class="input-full-width">
                            <input formControlName="name" matInput placeholder="Vote Name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="input-full-width">
                            <input formControlName="address" matInput placeholder="New Voting Contract Address">
                        </mat-form-field>
                        <br>
                        <button matStepperNext>Next</button>

                    </form>
                </mat-step>


                <mat-step>

                    <ng-template matStepLabel>Submit Vote</ng-template>
                    Name:
                    <b>{{ formGroup2.get('name').value }}</b>
                    <br> Contract Address:
                    <b>{{ formGroup2.get('address').value }}</b>
                    <br>
                    <br>
                    <p>By pressing the Submit-Button, your Contract-Update-Vote will be sent to the Blockchain.</p>

                    <div>
                        <button matStepperPrevious>Back</button>
                        <button (click)="createContractVote()" (click)="stepper2.reset()">Submit</button>

                    </div>
                </mat-step>
            </mat-horizontal-stepper>

        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>people</mat-icon>Board Member Vote
        </ng-template>
        <!-- Tab 3 -->
        <div class="tab-content">

            <p>Upload any file and the three new board members addresses to start a Board Member Vote. The other members will
                verify the document-hash and the addresses when they vote.
            </p>
            <mat-horizontal-stepper [linear]="true" #stepper3>

                <mat-step [stepControl]="formGroup3" [editable]="true">
                    <form [formGroup]="formGroup3">
                        <ng-template matStepLabel>Upload Document</ng-template>

                        <div ngDefaultControl droppable name="firstCtrl" [acceptsMultipleFiles]="false" dragOverClass="dragOver" (filesDropped)="handleMemberFiles($event)"
                            [ngClass]="droppedMemberFile ? 'drop-card-success' : 'drop-card'">{{ memberDocName }}</div>
                        <br>

                        <button matStepperNext>Next</button>

                    </form>
                </mat-step>

                <mat-step [stepControl]="formGroup5" [editable]="true">
                    <form [formGroup]="formGroup5">
                        <ng-template matStepLabel>Insert Board Member Adresses</ng-template>

                        <mat-form-field class="input-full-width">
                            <input formControlName="memberVoteName" matInput placeholder="Vote Name">
                        </mat-form-field>
                        <br>
                        <div *ngFor="let newBoardMember of newBoardMembers; let i = index;">
                            <mat-form-field class="input-full-width">
                                <mat-label>New Board Member</mat-label>
                                <mat-select formControlName="memberAddress" [(value)]="newBoardMembers[i].address">
                                    <mat-option *ngFor="let selection of memberSelectOptions" [value]="selection.value">{{ selection.label }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <a *ngIf="i == newBoardMembers.length - 1 && newBoardMembers.length > 3" (click)="removeBoardMemberAddressField()">
                                <mat-icon>remove_circle_outline</mat-icon>
                            </a>
                            <a *ngIf="i == newBoardMembers.length - 1" (click)="addBoardMemberAddressField()">
                                <mat-icon>add_circle_outline</mat-icon>
                            </a>
                            <br>
                        </div>
                        <mat-error *ngIf="!areBoardMemberAddressesValid()">New board member addresses must be distinct</mat-error>
                        <div>
                            <button matStepperPrevious>Back</button>
                            <button matStepperNext [disabled]="!areBoardMemberAddressesValid()">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Submit Vote</ng-template>
                    New Board Members:
                    <p *ngFor="let newBoardMember of newBoardMembers">{{ newBoardMember.address }}</p>
                    <br>Generated Hash:
                    <br>
                    <div class="hash" matTooltip="Click to copy address" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1000" ngxClipboard
                        [cbContent]="memberDocHash" (cbOnSuccess)="isCopied = true" (click)="copyHash()">{{ memberDocHash }}
                    </div>
                    <br>
                    <br>
                    <p>By pressing the Submit-Button, your Contract-Vote will be sent to the Blockchain.</p>
                    <button matStepperPrevious>Back</button>
                    <button (click)="createMemberVote()" (click)="stepper3.reset()">Submit</button>

                </mat-step>
            </mat-horizontal-stepper>

        </div>

    </mat-tab>
</mat-tab-group>