.tab-group {
    border: 1px solid #e8e8e8;
    border-radius: 7px;
}

.tab-content {
    padding: 16px;
}

mat-card {
    box-shadow: 0px 2px 4px 1px #ccc;
    border: 2px solid #fbe3d3;
    border-radius: 7px;
    max-width: 80%;
}

mat-card:hover {
    border: 2px solid #ed7d31;
}

.drop-card {
    padding: 2em;
    text-align: center;
    border: 2px dashed #fbe3d3;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}

.drop-card-success {
    padding: 2em;
    text-align: center;
    border: 2px solid #ed7d31;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
}

.drop-card:hover {
    border: 2px dashed #ed7d31;
}

.dragOver {
    border: 2px solid #ed7d31;
    background-color: #fbe3d3;
}

button {
    border-radius: 7px;
    border: 2px solid #fbe3d3;
    height: 37px;
    padding: 0px 10px 0px;
    margin-top: 15px;
    background-color: white;
    outline: none;
}

button:hover {
    background-color: white !important;
    border: 2px solid #ed7d31;
}

.mat-raised-button:disabled {
    background-color: white;
}