<h2 mat-dialog-title>Confirm Membership</h2>

<mat-dialog-content>
  <div>
   <h5>Confirm application for {{ alias }}?</h5>
 </div>
 <br>
 Wallet Address:
 <div class="hash" matTooltip="Click to copy address" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1000" ngxClipboard
 [cbContent]="address" (cbOnSuccess)="isCopied = true" (click)="copyHash()">{{ address }}
</div>
 <br>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="cancel()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="confirm()">Confirm</button>
</mat-dialog-actions>
