.mat-form-field {
  width: 80%;
}

.mat-column-no {
  width: 5%;
}

.mat-column-name {
  width: 30%;
}

th {
  color: white;
  font-size: 1em;
  background-color: #ed7d31;
}

mat-icon {
  vertical-align: middle;
}

.icon-red {
  color: red;
}

.icon-green {
  color: rgb(4, 170, 4);
}

.icon-yellow {
  color: rgb(250, 182, 56);
}

.open {
  cursor: pointer;
}

.mat-column-cancel {
  flex: 0 0 8% !important;
  width: 8% !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-name {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

button {
  border-radius: 7px;
  border: 2px solid #fbe3d3;
  height: 37px;
  padding: 0px 5px 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  outline: none;
}
