<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  <mat-hint>Filter by any attribute</mat-hint>
</mat-form-field>
<br>
<br>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="nr">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.nr}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element">
      <b>{{element.name}}</b>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.type == 'Document Vote'">description</mat-icon>
      <mat-icon *ngIf="element.type == 'Voting Contract Vote'">swap_horiz</mat-icon>
      <mat-icon *ngIf="element.type == 'Board Member Vote'">people</mat-icon>
      {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element">{{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="outcome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Outcome </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon *ngIf="element.outcome == 'Undecided'" class="icon-yellow">help_outline</mat-icon>
      <mat-icon *ngIf="element.outcome == 'Accepted'" class="icon-green">check_circle_outline</mat-icon>
      <mat-icon *ngIf="element.outcome == 'Declined'" class="icon-red">block</mat-icon>
      {{element.outcome}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let vote; columns: displayedColumns;" [ngClass]="vote.status == 'Open' ? 'open' : 'closed'" (click)="closeVote(vote)">
  </tr>
</table>