.mat-form-field {
  width: 80%;
}

.mat-column-no {
  width: 5%;
}

.mat-column-name {
  width: 30%;
}

th {
  color: white;
  font-size: 1em;
  background-color: #ed7d31;
}

mat-icon {
  vertical-align: middle;
}

.icon-red {
  color: red;
}

.icon-green {
  color: rgb(4, 170, 4);
}

.icon-yellow {
  color: rgb(250, 182, 56);
}

.open {
  cursor: pointer;
}
