
<mdb-navbar SideClass="navbar fixed-top navbar-expand-sm scrolling-navbar" [containerInside]="false">
    <logo>
        <img src="../assets/img/logo.svg" alt="block LAB" height="40">
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/myVerein" routerLinkActive="active">My Verein</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Members</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link" routerLink="/newVote" routerLinkActive="active">New Vote</a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                    <a class="nav-link" routerLink="/votes" routerLinkActive="active">Votes</a>
                </li>
        </ul>
    </links>
</mdb-navbar>

<div class="content">
    <router-outlet></router-outlet>
</div>