<div class="row">
  <div class="col-sm">
    <!-- Grid 1.1 -->
    <h3>My Membership </h3>

    <form class="input-form">
      <mat-form-field class="input-full-width">
        <input #box matInput (ngModelChange)="unlockChangeBTN()" disabled="{{ aliasInputDisabled }}" (keyup.enter)="changeAlias(box.value)"
          placeholder="Alias" name="aliasInput" [(ngModel)]="alias">
        <mat-hint>Your alias will be
          <b>permanently</b> stored on the Blockchain!</mat-hint>
      </mat-form-field>
    </form>
    <br>
    <form class="input-form">
      <mat-form-field class="input-full-width">
        <div matTooltip="Click to copy hash" [matTooltipShowDelay]="500" [matTooltipHideDelay]="1000" ngxClipboard [cbContent]="address"
          (cbOnSuccess)="isCopied = true" (click)="copyAddress()">
          <input matInput placeholder="ETH-Address" name="address" disabled [(ngModel)]="address">
        </div>
        <mat-hint>Can only be changed in MetaMask
          (<b>Page reload required</b>)
        </mat-hint>
      </mat-form-field>
    </form>

    <br> Status
    <br>
    <mat-button-toggle-group name="Status" value="{{ status }}" disabled>
      <mat-button-toggle value="none">None</mat-button-toggle>
      <mat-button-toggle value="pending">Pending</mat-button-toggle>
      <mat-button-toggle value="member">Member</mat-button-toggle>
      <mat-button-toggle value="board">Board</mat-button-toggle>
    </mat-button-toggle-group>

    <br>
    <br> Actions
    <br>
    <button mat-raised-button (click)="apply()" disabled="{{ applyBTNDisabled }}">Apply</button>
    <button mat-raised-button (click)="changeAlias()" disabled="{{ changeBTNDisabled }}">Change Alias</button>
    <button mat-raised-button (click)="resign()" disabled="{{ resignBTNDisabled }}">Resign</button>

  </div>

  <!-- Grid 1.2 -->
  <div class="col-sm">
    <h3>My Open Votes</h3>
    <ul class="votes" *ngFor="let member of pendingMembers">
      <li class="voteItem" (click)="acceptMember(member)">
        <mat-icon>person_add</mat-icon> Pending Member:
        <b>{{ member.name }}</b>
      </li>
    </ul>
    <ul class="votes" (click)="submitVote(vote)" [ngSwitch]="vote.type" *ngFor="let vote of openVotes">
      <li class="voteItem" *ngSwitchCase="1">
        <mat-icon>description</mat-icon> Document Vote:
        <b>{{ vote.name }}</b> #{{ vote.id }}
      </li>
      <li class="voteItem" *ngSwitchCase="2">
        <mat-icon>people</mat-icon> Board Member Vote:
        <b>{{ vote.name }}</b> #{{ vote.id }}
      </li>
      <li class="voteItem" *ngSwitchCase="3">
        <mat-icon>swap_horiz</mat-icon> Voting Contract Vote:
        <b>{{ vote.name }}</b> #{{ vote.id }}
      </li>
    </ul>


  </div>

  <div class="row">

    <!-- Grid 2
    <div class="col-sm">
      <h3>Newsfeed</h3>
      <app-newsfeed></app-newsfeed>
    </div> -->
  </div>