h3 {
  margin: 0px 0px 1em 0px;
}

input {
  text-overflow: ellipsis;
}

.input-form {
  min-width: 150px;
  max-width: 800px;
  width: 100%;
  margin: 0px 0px 1em 0px;
}

.input-full-width {
  width: 100%;
}

div[class*="col"] {
  box-shadow: 0px 2px 4px 1px #ccc;
  margin: 10px;
  padding: 1em;
  border: 2px solid #fbe3d3;
  border-radius: 7px;
}

div[class*="col"]:hover {
  border: 2px solid #ed7d31;
}

.mat-form-field .mat-form-field-subscript-wrapper {
  overflow: visible !important;
}

.mat-button-toggle-disabled {
  background-color: white;
}

.mat-button-toggle-checked {
  background-color: #fbe3d3;
  color: black;
}

mat-button-toggle-group {
  border-radius: 7px;
  border: 2px solid #fbe3d3;
  height: 37px;
  text-align: center;
}

button {
  border-radius: 7px;
  border: 2px solid #fbe3d3;
  height: 37px;
  padding: 0px 5px 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  outline: none;
}

button:hover {
  background-color: white !important;
  border: 2px solid #ed7d31;
}

.mat-raised-button:disabled {
  background-color: white;
}

@media only screen and (max-width: 400px) {
  mat-button-toggle-group {
    font-size: 3vw;
  }
}

.category-title {
  margin: 1em 0 0.5em 0
}

.category-title:first-child {
  margin-top: 0
}

.post-item {
  margin-bottom: 1.4em;
  margin-top: 1.4em;
  display: block
}

.post-item a {
  color: #000;
}

.post-item a:hover {
  color: #ed7d31;
}

.post-item .article-title {
  display: inline-block;
  width: 85%
}

.post-item .date-label {
  padding: 0 0.2em;
  margin-left: 1em;
  margin-top: 2px
}

.post-meta {
  color: #999;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  font-size: .875rem
}