table {
  font-family: 'Open Sans', sans-serif;
  width: 80%;
}

th {
  color: white;
  font-size: 1em;
  background-color: #ed7d31;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  width: 80%;
}

.mat-column-block, .mat-column-no {
  width: 20%;
}

.mat-column-status {
  width: 30%;
}

.mat-column-name {
  width: 30%;
}

.mat-cell {
  cursor: pointer;
}