

.mat-form-field {
  width: 80%;
}

.mat-column-block, .mat-column-no {
  width: 20%;
}

.mat-column-status {
  width: 30%;
}

.mat-column-name {
  width: 30%;
}

.regular {
  cursor: default;
}

.pending {
  background-color: #fbe3d3;
  cursor: pointer;
}

th {
  color: white;
  font-size: 1em;
  background-color: #ed7d31;
}